// Mixins Here
@import "variables.less";

.custom-flex(@justify: space-between, @align: center) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.flex-column(){
    flex-direction: column;
}

.custom-button(@color, @width: 83%, @text-color: white, @padding: 15px) {
    background-color: @color;
    text-align: center;
    color: white;
    font-size: 1.75rem;
    padding: @padding;
    width: @width;
    border-radius: 12px;

    transition: background-color .5s;

    &:hover {
        background-color: darken(@color, 15%);
    }
}